@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  .btn {
    @apply flex items-center justify-center gap-2 px-4 py-2 border border-zinc-700 rounded-md text-sm font-bold;
  }
  .btn.blue {
    @apply bg-sky-700 hover:bg-sky-900 text-white;
  }
  .btn.red {
    @apply bg-red-700 hover:bg-red-900 text-white;
  }
}
